name: "Release"

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: "write"

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - name: "Set up Go"
        uses: "actions/setup-go@v6"
        with:
          go-version-file: "./go.mod"

      - name: "Set up Go modules"
        run: |
          go mod tidy -v

      - name: "Run GoReleaser"
        run: |
          make release
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
